.new {
  display: flex;
  width: 100%;

  .newContainer {
    flex: 6;
    .top,
    .bottom {
      -webkit-box-shadow: 3px -3px 10px -1px rgba(8, 3, 8, 1);
      -moz-box-shadow: 3px -3px 10px -1px rgba(8, 3, 8, 1);
      box-shadow: 3px -3px 10px -1px rgb(117, 112, 117);
      margin: 20px;
      padding: 20px;

      h3 {
        color: rgb(182, 175, 175);
      }
    }
    .bottom {
      display: flex;
      margin: 20px;

      .left {
        flex: 1;
        margin: 5px;
        text-align: center;
        img {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
      .right {
        flex: 2;
        margin: 5px;

        form {
          display: flex;
          flex-wrap: wrap;
          gap: 30px;
          justify-content: space-around;

          .formInput {
            width: 40%;

            label {
              display: flex;
              align-items: center;
              gap: 5px;

              .icon {
                cursor: pointer;
              }
            }
            input {
              width: 100%;
              padding: 5px;
              border: none;
              border-bottom: 1px solid gray;
              outline: none;
              font-size: 16px;
            }
          }
          button {
            width: 150px;
            padding: 10px;
            background-color: rgb(13, 85, 22);
            color: white;
            border: none;
            font-weight: bold;
            margin-top: 10px;
            cursor: pointer;
            border-radius: 5px;
          }
        }
      }
    }
  }
}
